<body>


  <div class="jumbotron text-center">
    <h3>Angular Show Hide Div On Button Click:</h3>
  </div>

  <div class="container">


    <div *ngIf="textShow">

      <p style="font-weight: bold;">Que 10.</p>
      <div class="container">
        <div class="form-group col-4">
          <label>Data Binding</label>
          <input type="text" [(ngModel)]=" strTwoWayDataBinding" class="form-control">
          Given Name: {{ strTwoWayDataBinding}}
        </div>
      </div>

      <hr>
      <!-- <app-child>Child Component</app-child>  -->
      <p style="font-weight: bold;">Que 11.</p>
      <h4 style="text-align: center;">Send a name from Parent to child using @Input. </h4>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="form-group">

              <input type="text" [(ngModel)]="strNameParentToChild" class="form-control">
              <!-- <app-child [strNameParentToChild]='strNameParentToChild'></app-child> -->
            </div>
          </div>

        </div>
      </div>
      <!--  
        <input type="text" [(ngModel)]="strNameParentToChild">
        <app-child [strNameParentToChild]='strNameParentToChild'></app-child> -->


      <hr>
      <p style="font-weight: bold;">Que 12.</p>
      <div class="container">

        <p style="text-align: center;">Send an Object with UserId and Password as the data <br>from the parent to child
          and
          display the same in the child component.</p>

        <app-child [ParenttoChild]="ParenttoChild"></app-child>

      </div>

      <hr>

      <div class="container">
        <app-child (messageToEmit)="getMessage($event)"></app-child>
        <br>
        <br>
        Displaying in parent : {{strMsgFromChild}}
      </div>


    </div>

    <button type="button" (click)="showText()" class="btn btn-primary">Show text</button>
    <button type="button" (click)="hideText()" class="btn btn-danger">Hide Text</button>
  
  </div>




  <hr>
  <h1 style="text-align: center;"> Assignment </h1>
  <ul>
    <li>
      <a routerLink="Assignment1"> Assignment 1 </a>
    </li>
    <li>
      <a routerLink="Assignment2"> Assignment 2 </a>
    </li>
    <li>
      <a routerLink="Assignment3"> Assignment 3 </a>
    </li>
    <li>
      <a routerLink="Assignment4"> Assignment 4 </a>
    </li>
    <li>
      <a routerLink="Assignment5"> Assignment 5 </a>
      <br>
      <a routerLink="CRUD-Assignment5"> CRUD-Assignment5</a>
    </li>
    
  </ul>

  <router-outlet></router-outlet>
</body>
